<div class="footer">
    <div class="f_social">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-x-twitter"></i>
    </div>
    <div class="f_brand">
        &copy; StaySpot Private Limited
    </div>
    <div class="f_info">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div>